/*
 * Author by FreeHTML5.co
 * Twitter: https://twitter.com/fh5co
 * Facebook: https://fb.com/fh5co
 * URL: https://freehtml5.co
 */
/* Fonts */


@font-face {
  font-family: 'BATANG';
  src: url(../fonts/BATANG.ttf); }

/* Colors */
/* Universal style */
* {
  margin: 0;
  padding: 0;
  font-family: "BATANG";
  
   }

   #logo {
    margin-left: 50px;
    width: 720px;
    padding: 70px;
   }

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

   li {
    display: inline-block;
    justify-content: space-around;
   }
   
  li a {
    color: #ffa500;
    text-align: center;
    text-decoration: none;
    border-width: 10px;
  }

  #ttid {
    border: 10px #ccc solid;
    border-radius: 10px;
    margin: 15px ;
  }

  #lvs {
    border: 10px #ccc solid;
    border-radius: 10px;
    margin: 15px ;
  }

  li p {
      color: #ffa500 ;
      padding-left: 30px;
  }

  body{
  background-image: url("../images/bg.jpg");
  background-color: #030303; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

 section {
  text-align: center;
  width: 100%;
  height: 500px;
  border-top: 100px;
  padding-top: 250px;  }

  body {
    background-color: #333;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
  }


  path {
    fill: transparent;
  }
  
  text {
    fill: #FF9800;
  }
 
  